{% extends "LvPlatformBundle::layout.html.twig" %}
{% block content %}

<div class="row">
  <div class="span12">
    <h2>会員登録</h2>

    {% if formErrors %}<p><code>入力内容に不備があります</code></p>{% endif %}

    <form action="{{ path('lv_test_member_create') }}" method="post" {{ form_enctype(form) }} novalidate>
      {{ form_widget(form) }}

      <p>
        <button type="submit">登録</button>
      </p>
    </form>

    <ul class="record_actions">
      <li>
        <a href="{{ path('lv_test_member') }}">
          一覧に戻る
        </a>
      </li>
    </ul>

  </div><!--/row-->
</div><!--/span-->
{% endblock %}
