<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <link href="{{ asset('bundles/lvplatform/vendor/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/lvplatform/vendor/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <title>Symfony2.1.9で技術調査{% block title %}: {% endblock %}</title>
  </head>
  <body>
    <div>
    {% block content %}
    {% endblock %}
    </div>
    <footer>
      <address>
        Powered by <a href="http://symfony.com/" target="_blank">Symfony</a>
      </address>
    </footer>
  </body>
</html>
