<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
  </head>
  <body>
    <div>
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <address>
      </address>
    </footer>
  </body>
</html>
